.shop__page {
  & .banner {
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    &__content {
      margin-left: 500px;
      margin-top: 50px;
    }
    &__title {
      color: #e7e7e7;
      font-size: 45px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    
  }
  &__top{
    margin-bottom: 20px;
    .select{
      display: flex;
      flex-direction: row-reverse;
      padding-right: 30px;
    }
  }
  &__main{
    display: flex;
    .sidebar{
      width: 20%;
      padding-right: 10px;
      &__input{
        font-size: 16px;
        border-radius: 50px;
        border: 1px solid #777777;
        text-align: left;
        padding-left: 15px;
        width: 90%;
        &::placeholder {
          text-align: left;
          font-size: 16px;
        }
      }
      &__submit{
        right: calc(10% + 10px );
        font-size: 20px;
      }
    }
    .list{
      flex: 1;
    }
  }
  & .panigation{
    margin-bottom: 50px;
  }
}
